.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Lora', serif;
}

.login-form{
    text-align: center;
    height: 500px;
    width: 400px;
}

.username-form, .password-form{
    margin: 55px;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 40px;
}

.login-button {
    background-color: rgb(66, 145, 220);
    height: auto;
}

.login-form {
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.sign-up-no-acc {
    background-color: white;
    font-size: medium;
    padding-top: 2px;
}

